# generated results of lbm code
/**/out/

# python notebook auxiliary files
/**/.ipynb_checkpoints

# waberla with interface
/code/walberla/pywaLBerla/

# latex auxiliary files
*.aux
*.fdb_latexmk
*.fls
*.log
*.pdf
*.synctex.gz
*.out
*.toc
*.pyc
*.pyg
*.tdo
*.bbl
*.blg
*.glo
*.ist
