# generated results of lbm code
/**/out/

# python notebook auxiliary files
/**/.ipynb_checkpoints

# waberla with interface
/code/walberla/pywaLBerla/

# latex auxiliary files
*.aux
*.fdb_latexmk
*.fls
*.log
*.synctex.gz
*.out
*.toc
*.pyc
*.pyg
*.tdo
*.bbl
*.blg
*.glo
*.ist
*.gls
*.glg

# not ignore pdfs to be imported into the final thesis
/latex/masters_thesis/sections/*.pdf
/latex/masters_thesis/thesis.pdf
/latex/recap_for_ns_derivation/*.pdf
